

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/LOGIN_FLOW_GUIDE.md
/TEST_RUN_RESULTS.md
../TEST_RUN_RESULTS.md
../LOGIN_FLOW_GUIDE.md
../.DS_Store